<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Belajar Cucumber">
    <test name="Test Demo">
        <classes>
            <class
                name="com.juaracoding.runner.RunnerTest"></class>
        </classes>
    </test>
</suite> 